.anim_items {
    transform: translate(0, 120%);
    opacity: 0;
    transition: all .8s ease 0s;
}
.anim_items._active {
    transform: translate(0, 0);
    opacity: 1;
}

/* .anim_show {
    transform: translate(0, 120%);
    opacity: 0;
    transition: all .8s ease 0s;
}

.anim_show._active, 
._active .anim_show {
    transform: translate(0, 0);
    opacity: 1;
} */

/* .work__title {
    transform: translate(0, 120%);
    opacity: 0;
    transition: all .8s ease 0s;
}
.work__title._active {
    transform: translate(0, 0);
    opacity: 1;
} */