.contacts {
    background: #171616;
    padding: 100px 0;
}

.contacts__title {
    margin-bottom: 46.5px;
}
.contacts__form {
    max-width: 440px;
}
.form__row {
    margin: 0 0 35px -20px;
    display: flex;
}


.form__group {
    padding: 0 20px;
    flex: 1;
    position: relative;
}
.form__input {
    width: 100%;
    padding: 9px 0;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;
    font-family: inherit;
}

.form__input:focus + .label {
    transform: translateY(-15px);
    font-size: 12px;
}

input:not(:placeholder-shown) + .label {
    transform: translateY(-15px);
    font-size: 12px;
}

.label {
    letter-spacing: 0.15em;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: 20px;
    pointer-events: none;
    transition: all .2s ease;
}

.form__button {
    padding: 11px 75px;
}

.textarea {
    min-height: 130px;
    width: 100%;
    padding: 9px 0;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;
    font-family: inherit;
    resize: vertical;
}

.textarea:focus + .label {
    transform: translateY(-15px);
    font-size: 12px;
}

.textarea:not(:placeholder-shown) + .label {
    transform: translateY(-15px);
    font-size: 12px;
}
.contact__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.map {
    padding: 10px;
}

/* Планшеты */
@media (max-width: 1024px) {
    
}

 /* Мобильные устройства */
@media (max-width: 720px)  {
    .contacts {
        padding: 60px 0;
    }
    .contacts__title {
        font-size: 25px;
        margin-bottom: 35px;
    }
    .contact__block {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .map {
        min-height: 250px;
    }
}