.contacts {
    background: #171616;
    padding: 100px 0;
}

.contacts__title {
    margin-bottom: 46.5px;
}
.contacts__form {
    max-width: 440px;
}
.form__row {
    margin: 0 0 35px -20px;
    display: flex;
}


.form__group {
    padding: 0 20px;
    flex: 1;
    position: relative;
}
.form__input {
    padding:9px 0;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;
    font-family: inherit;
}

.form__input:focus + .label {
    transform: translateY(-15px);
    font-size: 10PX;
}


.label {
    letter-spacing: 0.15em;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: 20px;
    pointer-events: none;
    transition: .2s ease;
}

.form__button {
    padding: 11px 75px;
}