.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: all .3s linear;
}
.header__container {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    transition: all 0.3s ease;
}

.header__logo:hover {
    transform: scale(1.2);
}

.header__logo-link {
    display: inline-block;
}
.header__logo-img {
    max-height: 65px;
}
.header__menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.header__menu-item {
    font-weight: 600;
    line-height: 137%;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}
.header__menu-link {
    display: block;
    transition: all 0.3s ease;
}
.header__menu-link:hover {
    transform: scale(1.2);
    opacity: 1;
}
.header__menu-link::after {
    display: block;
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #FFFFFF;
    position: absolute;
    opacity: 0;
} 
.menu-link_active:after {
    opacity: 1;
}

.header__lang {
    font-weight: 600;
    line-height: 137%;
    text-transform: uppercase;
    color: #B7B7B7;
    transition: all 0.3s ease;
}

.header__lang_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: right;
}

.header__lang:hover {
    transform: scale(1.2);
}
.lang_active {
    color: #FFFFFF;
}

.header_scroll {
    background: #171616;
    z-index: 50;
    border-bottom: #B7B7B7 1px solid;
}

.header__burger {
    display: none;
    width: 50px;
    height: 28px;
    position: relative;
}

.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
}

.burger__line_one {
    top: 0;
}
.burger__line_two {
    top: 50%;
    transform: translateY(-50%);
}
.burger__line_three {
    bottom: 0;
}

/* Планшеты */
@media (max-width: 1024px) {
    .header__logo-img {
        max-height: 55px;
    }
}

 /* Мобильные устройства */
@media (max-width: 720px)  {
    .header__burger {
        display: block;
        grid-column-end: -1;
    }
    .header__menu {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background-color: #0E1D28;
        z-index: 10;
        padding: 45px;
        transform: translateX(100%);
        transition: .2s linear;
    }
    .header__menu-list {
        flex-direction: column;
        text-align: center;
        padding: 0 70px;
    }
    .header__menu_active {
        transform: translateX(0);
    }
    .header__burger-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
        margin-right: 20px;
        margin-top: 20px;
    }
    .header__burger-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 20%;
        transform: translateY(-50%);
    }
    .header__burger-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }
    .header__burger-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
    .header__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: flex-end;
        column-gap: 15px;
    }
    .header__lang_wrapper  {
        grid-column-start: -1;
        flex-direction: column;
        gap: 2px;
    }
}